body{
  /*background-color: #EEEFF7;*/
  font-family: 'Open Sans', sans-serif;
}

*{
  /*color: #31353D;*/
}

.container{
  width: 700px;
  padding-bottom: 50px;
}

h1, h2{
  /*margin: 20px auto;
  text-align: center;*/
}

form{
  margin-top: 20px;
}

table{
  /*margin: auto;*/
}

tr td{
  padding: 10px;
}

tr td:first-child{
  /*text-align: right;*/
}

.form-group{
  margin-left: 0;
}

.checkbox{
  font-weight: normal;
  padding-bottom: 20px;
}

.btn{
  margin: auto;
  display: block;
}

/*.form-group.radiobuttons{
  text-align: center;
}*/
